:root {
  --primary: #b6ff00;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #dedede;
  color: #fff;
  height: 100%;
  /* min-height: 3000px; */
}

/* Navbar */
.navbars {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  background-color: var(--primary);
  border-bottom: 1px solid var(--bg);
  /* position: fixed; */
  top: 0;
  line-height: 1;
  width: 100%;
  z-index: 9999;
}

.navbars .dates {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--bg);
}

.navbars .logo {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Upakarti", sans-serif;
  color: var(--bg);
  padding: 0.2rem 5.5rem;
}

.navbars .navbars-nav a,
.navbars-extra a {
  color: var(--bg);
  display: flex;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0.5rem;
}

.navbars .navbars-nav .now {
  color: crimson;
  border-bottom: 0.2rem solid crimson;
}

.navbars .navbars-nav a:hover {
  color: crimson;
}

.navbars .navbars-nav a::after {
  content: "";
  display: flex;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid crimson;
  transform: scaleX(0);
  transition: 0.1s linear;
}

.navbars .navbars-nav a:hover::after {
  transform: scaleX(1);
}
.navbars .navbars-extra a {
  color: var(--bg);
  margin: 0 0.5rem;
  font-size: 1rem;
}

.navbars .navbars-extra a:hover {
  color: crimson;
}

#hamburger-menu {
  display: none;
}

.button:hover {
  background-color: #34495e;
  color: #fff;
}

/* Navbar search form */
.navbars .search-forms {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbars .search-forms.active {
  transform: scaleY(1);
}

.navbars .search-forms input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbars .search-forms label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Artikel */
.container {
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  /* margin-top: 8.5%; */
  background-color: red;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--bg);
}

.article {
  margin-bottom: 30px;
  align-items: center;
}

.article h2 {
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--bg);
}

.article .berita {
  display: flex;
  cursor: pointer;
}

.article .berita img {
  width: 40rem;
  height: 22.5rem;
  padding-right: 1rem;
  margin-bottom: 10px;
}

.article .berita .konten {
  flex: 1;
}

.article .berita .konten  {
  margin-bottom: 10px;
  color: var(--bg);
  width: 66%;
}

.article .berita .konten a {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--bg);
}

.article .berita .konten p {
  margin-bottom: 0.2rem;
}

.berita-lain {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  cursor: pointer;
}

.berita-lain .lainnya {
  overflow: hidden;
  word-wrap: break-word;
}

.berita-lain .lainnya img {
  width: 24rem;
  height: 12rem;
  padding-right: 1rem;
}
.berita-lain .lainnya a {
  display: flex;
  width: 24rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  color: var(--bg);
}

.berita-lain .lainnya p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.article a:hover, .berita-lain a:hover {
  text-decoration: underline;
}

.article .author {
  font-weight: 400;
  font-size: 14px;
}

.article .date, .berita-lain .date {
  color: #6d6d6d;
  font-size: 13px;
  font-weight: 500;
}

/* Footer */
footer {
  padding: 20px;
  bottom: 0;
}

.footers {
  background-color: rgba(1, 1, 1, 0.8);
  border-top: 1px solid var(--primary);
  box-sizing: border-box;
  color: white;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  /* margin-top: 100%; */
}

.footers .footers-left,
.footers .footers-center,
.footers .footers-right {
  display: inline-block;
  vertical-align: top;
}

@media (max-height: 800px) {
  footers {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footers .footers-left {
  width: 30%;
}

.footers h3 {
  color: #f5f5f5;
  margin: 0;
  padding-bottom: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footers .footers-left img {
  width: 25%;
  vertical-align: middle;
}

.footers .footers-left .credit-cards {
  width: 100%;
}

.footers .footers-copyright {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
}

.footers .footers-center {
  width: 35%;
}

.footers .footers-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footers .footers-center i.fa-envalope {
  font-size: 17px;
  line-height: 38px;
}

.footers .footers-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0px;
}

.footers .footers-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footers .footers-center p a {
  color: var(--primary);
  text-decoration: none;
}

.footers .footers-right {
  width: 30%;
}

.footers .footers-about {
  line-height: 20px;
  color: #929992;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}

.footers .footers-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footers .footers-media {
  margin-top: 25px;
}

.footers .footers-media a {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 50%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footers .footers-media a:hover {
  background-color: crimson;
}

@media (max-width: 880px) {
  .footers .footers-left,
  .footers .footers-center,
  .footers .footers-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  .footers .footers-center i {
    margin-left: 0px;
  }
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .article .berita .konten .author {
    /* display: none; */
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(74, 164, 164, 0.9);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #010101;
    display: flex;
    margin: 1.5rem;
    padding: 0, 5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .article img {
    width: 100%;
  }

  .article .berita {
    display: initial;
  }

  .article .berita .konten .author {
    display: flex;
  }
}

/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
